.jobpost__heading{
  display: flex;
  flex-direction: column;
  height: 190px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

button.btn {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 2px solid #fff;
  transition: 0.5s;
}

.jobpost__heading h1{
  color: white;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  width: 60%;
}

.head-primary{
  font-size: 3rem;
  padding: 12px;
}

.head-secondary{
  font-size: 2rem;
}


#jobpost__form{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

#jobpost__form h1{
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.jobpost__form__info{
  width: 60%;
  margin: auto;
}

.postsignIn{
  text-align: center;
  font-size: 3rem;
  padding: 12px;
}

.jobpost__form__info label{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.jobpost__form__info input{
  padding: 10px;
  outline-width: 0px;
  border: 2px solid rgb(179, 174, 174);
  border-radius: 5px;
}

.jobpost__form__info textarea{
  padding: 10px;
  outline-width: 0px;
  border: 2px solid rgb(179, 174, 174);
  border-radius: 5px;
}
.jobpost__Login{
  width: 60%;
  margin: 10px auto;
  text-align: center;
}

.jobpost__Login a{
    padding: 8px 20px;  
    margin: 10px 0;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid #fff;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:970px) {
  .head-primary{
    font-size: 1.7rem;
  }
  .head-secondary{
    font-size: 1.4rem;
  }
  .jobpost__heading{
    height: 120px;
  }

  /* #jobpost__heading::before{
    height: 290px;
  } */
  .jobpost__form__info label{
    font-size: 0.7rem;
  }
  .jobpost__form__info input{
    padding: 5px;
  }
  .jobpost__heading h1{
    width: 95%;
  }
  .jobpost__Login{
    width: 95%;
  }
  .jobpost__Login a{
    font-size: 0.7rem;
  }
}